<div class="user_page">
  <h1><%= @user.username %>'s Tweets</h1>
  <% if current_user.id != @user.id %>
    <% if @following.empty? %>
      <form action="<%= follows_url %>" method="POST">
        <%= render "shared/auth_token" %>
        <input
          type="hidden"
          name="follow[user_id]"
          value="<%= @user.id %>">
        <input
          type="hidden"
          name="follow[follower_id]"
          value="<%= current_user.id %>">
        <button>Follow</button>
      </form>
    <% else %>
      <form action="<%= follow_url(@following[0].id) %>" method="POST">
        <%= render "shared/auth_token" %>
        <input type="hidden" name="_method" value="DELETE">
        <button>Unfollow</button>
      </form>
    <% end %>
  <% end %>
  <a href="#">Followers</a>
  <a href="#">Followings</a>
  <% if current_user.id == @user.id %>
    <%= render "tweets/new" %>
  <% end %>
  <ul>
    <% @user_tweets.each do |tweet| %>
      <li>
        <%= tweet.tweet %>
      </li>
    <% end %>
  </ul>
</div>
