<div class="user_page">
  <h1><%= @user.username %>'s Tweets</h1>
  <% if current_user.id != @user.id %>
    <% if @following.empty? %>
      <form action="<%= follows_url %>" method="POST">
        <%= render "shared/auth_token" %>
        <input
          type="hidden"
          name="follow[user_id]"
          value="<%= current_user.id %>">
        <input
          type="hidden"
          name="follow[follower_id]"
          value="<%= @user.id %>">
        <button>Follow</button>
      </form>
    <% else %>
      <form action="<%= follow_url %>" method="DELETE">
        <%= render "shared/auth_token" %>
        <button>Unfollow</button>
      </form>
    <% end %>
  <% end %>
  <a href="#">Followers</a>
  <a href="#">Followings</a>
  <% if current_user.id == @user.id %>
    <form action="<%= tweets_url %>" method="POST">
      <%= render "shared/auth_token" %>
      <input
        type="text"
        name="tweet[tweet]"
        placeholder="What's happening?">
      <button>Tweet</button>
    </form>
  <% end %>
  <ul>
    <% @all_tweets.each do |tweet| %>
      <li>
        <%= tweet.tweet %> - <%= link_to tweet.user.username, user_url(tweet.user) %></li>
      </li>
    <% end %>
  </ul>
</div>
