<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="<%= tweets_url %>">Home</a>
  <% if !current_user.nil? %>
    <ul>
      <li>Logged in as: <%= current_user.username %></li>
      <form action="<%= session_url %>" method="POST">
        <%= render "shared/auth_token" %>
        <input
          type="hidden"
          name="_method"
          value="delete">
        <button id="logout">Log Out</button>
      </form>
    </ul>
  <% else %>
    <ul>
      <li><a href="<%= new_user_url %>">Sign Up</a></li>
      <li><a href="<%= new_session_url %>">Log In</a></li>
    </ul>
  <% end %>
  <%= render "shared/errors" %>
<%= yield %>

</body>
</html>
